
<%= render 'shared/errors', obj: @category %>
<%= form_with(model: @category,class: "shadow p-4 mb-2 bg-info rounded", local: true) do |f| %>

    <div class="form-group row">
        <%= f.label :name, "Category name", class: "col-2 col-form-label text-dark" %>
        <div class="col-8">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: " Enter your name" %>
        </div>
    </div>


    <div class="form-group text-center ">
        <%= f.submit 'update category',class: "btn btn-outline-light btn-lg" %>    
    </div>
<% end %>


    
 
<div class="text-center">
    <%= link_to '[Home Page]', articles_path, class: "text-info"%>
    
</div>


